@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-image: url("../cool-background.png");
  /* overflow: hidden; */
}
.full-body {
  width: 100vw;
  height: 100vh;
}
.navBar {
  font-weight: 300;
  position: absolute;
  width: 100vw;
  height: 10vh;
}
.navBar ul {
  list-style-type: none;
  text-decoration: none;
}
.navBar > ul > a:visited {
  color: black;
}
.navBar > ul > a:active {
  color: grey;
}
.navBar > ul > a {
  color: black;
  transition: font-size 0.2s;
}
.navBar > ul > a:hover {
  font-size: 110%;
}
.navBar > ul > li {
  display: inline;
}
.right-float {
  float: right;
  margin: 2vw 3vw 1vw 1vw;
}
.left-float {
  float: left;
  margin: 2vw 1vw 1vw 3vw;
}
.allTasksPage {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 90vh;
  width: 100vw;
  /* background-color: green; */
  position: absolute;
  bottom: 0;
}
.taskCard {
  position: relative;
  height: 40vh;
  width: 30vw;
  margin: auto;
  box-shadow: 0 0 20px #888888;
  transition: transform 0.2s;
  /* background-color: red; */
}
.taskCard:hover {
  transform: scale(1.03);
}
.taskCard > img {
  width: 15%;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
}
.taskName {
  text-align: center;
  margin-top: 7%;
  margin-bottom: 2%;
  font-weight: 500;
  font-size: x-large;
}
.taskTitle {
  text-align: center;
  font-weight: 500;
  font-size: large;
  margin-bottom: 2%;
}
.taskDescription {
  margin: 2%;
}
.taskDue {
  position: absolute;
  bottom: 2%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.btn-delete {
  background-color: red;
  opacity: 0.7;
  position: absolute;
  bottom: 15%;
  right: 5%;
  width: 20%;
  height: 10%;
  transition: transform 0.2s;
}
.btn-delete:hover {
  transform: scale(1.1);
}
.btn-edit {
  background-color: white;
  opacity: 0.7;
  position: absolute;
  bottom: 15%;
  right: 27%;
  width: 20%;
  height: 10%;
  transition: transform 0.2s;
}
.btn-edit:hover {
  transform: scale(1.1);
}
.container-body {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.container {
  width: 60vw;
  height: 60vh;
  box-shadow: 0 0 10px #888888;
  border-radius: 15px;
  text-align: center;
}
input,
textarea {
  margin: 1vh;
  border-radius: 15px;
  box-shadow: 0 0 10px grey;
  opacity: 0.7;
  height: 4vh;
  text-align: center;
  transition: box-shadow 0.2s ease-in-out;
}
input:hover {
  box-shadow: 0 0 20px grey;
}
#title {
  width: 15vw;
}
textarea {
  resize: none;
  width: 70%;
  height: 25vh;
}
.btn {
  position: absolute;
  bottom: 8%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 5px;
  width: 10vw;
}
.edit-form {
  position: relative;
  height: 100%;
  width: 100%;
}
.btn-edit-confirm {
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 5px;
}
.edit-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 90vh;
}
.editInterface {
  width: 55vw;
  height: 60vh;
  text-align: center;
  margin: 1vh;
  border-radius: 15px;
  box-shadow: 0 0 10px grey;
}
.selectField {
  text-align: center;
  width: 15vw;
  border-radius: 15px;
  padding: 2px;
  margin: 1vh;
  box-shadow: 0 0 10px grey;
  opacity: 0.7;
  transition: box-shadow 0.2s ease-in-out;
}
.selectField:hover {
  box-shadow: 0 0 20px grey;
}
.profile-interface {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-container {
  text-align: center;
}
#profile-name {
  width: 25vw;
}
#profile-pic {
  width: 40vw;
}
.edit-profile-container {
  height: 90vh;
  width: 100vw;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.edit-profile-form {
  text-align: center;
}
