@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("../cool-background.png");
  font-family: "Roboto", sans-serif;
  /* overflow: hidden; */
}
.full-body {
  width: 100vw;
  height: 100vh;
}
.navBar {
  font-weight: 300;
  position: absolute;
  width: 100vw;
  height: 10vh;
}
.navBar ul {
  list-style-type: none;
  text-decoration: none;
}
.navBar > ul > a:visited {
  color: black;
}
.navBar > ul > a:active {
  color: grey;
}
.navBar > ul > a {
  color: black;
  transition: font-size 0.2s;
}
.navBar > ul > a:hover {
  font-size: 110%;
}
.navBar > ul > li {
  display: inline;
}
.right-float {
  float: right;
  margin: 2vw 3vw 1vw 1vw;
}
.left-float {
  float: left;
  margin: 2vw 1vw 1vw 3vw;
}
.allTasksPage {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 90vh;
  width: 100vw;
  /* background-color: green; */
  position: absolute;
  bottom: 0;
}
.taskCard {
  position: relative;
  height: 40vh;
  width: 30vw;
  margin: auto;
  box-shadow: 0 0 20px #888888;
  transition: transform 0.2s;
  /* background-color: red; */
}
.taskCard:hover {
  transform: scale(1.03);
}
.taskCard > img {
  width: 15%;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
}
.taskName {
  text-align: center;
  margin-top: 7%;
  margin-bottom: 2%;
  font-weight: 500;
  font-size: x-large;
}
.taskTitle {
  text-align: center;
  font-weight: 500;
  font-size: large;
  margin-bottom: 2%;
}
.taskDescription {
  margin: 2%;
}
.taskDue {
  position: absolute;
  bottom: 2%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.btn-delete {
  background-color: red;
  opacity: 0.7;
  position: absolute;
  bottom: 15%;
  right: 5%;
  width: 20%;
  height: 10%;
}
.btn-edit {
  background-color: white;
  opacity: 0.7;
  position: absolute;
  bottom: 15%;
  right: 25%;
  width: 20%;
  height: 10%;
}
